.Carousel {
    width: 100%;
    height: 350px;
    background-image: url("./images/brandambassadors.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -150px;
    color: white;
    text-align: center;
    
}